$primary: #219ebc;
$secondary: #333;
$main-bg: #f1f5f8;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

header{
    height: 70px;

    .voltar{
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
    
        img{
            width: 50px;
            height: 50px;
            transform: rotate(90deg);
        }
    }
}

.card-deck{
    height: calc(100vh - 70px);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .card{
        position: relative;
        box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: .4);
        border-radius: 5px;
        width: 450px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 20px;

        h1{
            font-weight: 300;
            font-size: 2rem;
        }

        .user{
            font-size: 1rem;
            color: rgba($color: #000000, $alpha: .4);
            font-weight: 600;
        }

        .op{
            display: flex;
            justify-content: space-between;

            .group{
                a{
                  font-size: 1.4rem;  
                  text-decoration: none;
                  color: rgba($color: #000000, $alpha: .8);
                }
            }
        }

        .content{
            transition: max-height .9s;
            font-size: 1.2rem;
            overflow-y: hidden;
        }
    }
}